.createride_box{
	background-color: white;
	padding: 3%;
	display: flex;
	align-items: center;
	justify-content: center;
    width:100%;
}
.createride-h3 {
	margin-bottom: 7% ;
	padding: 2%;
	font-weight: 600;
    font-size: 30px;
    line-height: 36px;
	text-align: center;
}

@media screen and (max-width: 768px){
    .createride_input{
        /* width: %; */
        width: 50%;
        padding: 5%;
    }
    .createride_box{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    }

.createride_form{	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
    width: 90%;
    /* background-color: blue; */
}
.createride_input{
	/* margin-top: 2%; */
	margin-bottom: 2%;
	margin-left: 2%;
	width: 90%;
	padding: 2%;
	border-radius: 4px;
	border: 1px solid black;
	display:inline-block;
}

.createride_button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:1em 0.5em 0em 0.1em;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background-color:#523be4;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    color: white;
    text-align:center;
    transition: all 0.2s;
	align-self: center;
}
@media all and (max-width:30em){
    .createride_button{
    display:block;
    margin:0.2em auto;
    }
}
.createride_button:hover{
	background-color: #91b4cc;
	color: white;
    border-color: rgba(255,255,255,1);
}
.createride_button_text{
	font-weight: bolder;
}
.error_warning{
	align-self: center;
	color: red;
	font-size: smaller;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
}
.login_link{
	margin-top: 10%;
	display: flex;
	justify-content: center;
	width: 100%;

}
.map-container{
	width: 100%;
	margin-left: 60px;
	height: 80vh;
}



