
.login_container{
	background-color: #ffe1e9;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	
}
.login_box{
	background-color: white;
	border-radius: 8px;
	box-shadow: rgb(0 0 0 / 12%) 0px 0px 1px 0px, rgb(0 0 0 / 16%) 0px 0px 14px 0px;
	padding: 2%;
	flex-direction: column;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

}

.login_form{
	margin-top: 7%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	
}
@media screen and (max-width: 768px){
.login_input{
	/* width: %; */
	width: auto;
	padding: 2%;
}
.login_box{
	width: 100%;
	height: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
}

}

.login_input{
	margin-top: 2%;
	margin-bottom: 2%;
	width: 90%;
	padding: 5%;
	border-radius: 4px;
	border: 1px solid black;
}
.login_button{
	background-color: #523be4;
	color: white;
	padding: 4%;
	margin-top: 4%;
	border-radius: 50px;
	box-shadow: none;
	border-style: none;
	align-self: center;
}
.login_button:hover{
	background-color: #9991cc;
	color: white;
}
.login_button_text{
	font-weight: bolder;
}

.login_link{
	margin-top: 10%;
	display: flex;
	justify-content: center;
	width: 100%;

}
.logo{
	align-self: center;
}

.login-h3 {
	padding: 2%;
	font-weight: 600;
    font-size: 30px;
    line-height: 36px;
	text-align: center;
}

.login-h4{
	padding:2%;
}
