

#header .pro-sidebar-inner .pro-sidebar-layout {
    background-color: #D3E4ED;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
    color: black;
    height: 100vh;
  }

  #header .pro-sidebar-inner{
    background-color: #D3E4ED;
  }

  #header .pro-menu-item .pro-inner-list-item{
    background-color: #D3E4ED;
  }
  #header .pro-menu-item {
    background-color: #D3E4ED;
  }
#header .pro-inner-item:focus, .pro-inner-item:active, .pro-inner-item:hover{
  color: black !important;
}
#header .pro-inner-item:hover{
  background-color: #e9ecef  !important;
}

#header .popper-inner{
  background-color: #D3E4ED  !important;
}
#header .closemenu{
  height: 40px;
}