

#header .pro-sidebar-inner .pro-sidebar-layout {
    background-color: white;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
    color: black;
    height: 100vh;
  }

  #header .pro-sidebar-inner{
    background-color: white;
  }

  #header .pro-menu-item .pro-inner-list-item{
    background-color: white;
  }
  #header .pro-menu-item {
    background-color: white;
  }
