@import "./styles/login.css";
@import "./styles/register.css";
@import "./styles/sidebar.css";
@import "./styles/navbar.css";
@import "./styles/createride.css";
@import "./styles/viewride.css";
@import "./styles/profile.css";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&family=Raleway:wght@200;500&display=swap');
body {
  margin: 0;
  font-family: Public Sans,
    sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.error-warning{
	align-self: center;
	color: red;
	font-size: smaller;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
}
.bodyLayout{
  display: flex;
  flex-direction: row;
}

.bodyComponent{
  max-height: 100vh;
  width: 100vw;
  
}

.nav-link{
  cursor: pointer;
  color: black !important;
}
.nav-link:hover, .nav-link:active {color: gray!important}

.loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer{
  background-color: blanchedalmond;
}
body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(189, 188, 186);        /* color of the tracking area */
}
